{% extends "base.html" %}

{% block content %}

<h1>What the federal FOIA does not cover:</h1>

<ol>
  <li>Documents classified as secret in the interest of national defense or foreign policy</li>
  <li>Records of internal agency rules and practices</li>
  <li>Congress and the federal courts and anything specifically covered by another law</li>
  <li>Trade secrets and commercial or financial information that is confidential</li>
  <li>Internal memos that are deliberative</li>
  <li>Personnel, medical, financial or similar records that would clearly be an unwarranted invasion of privacy</li>
  <li>Law enforcement records that would interfere with enforcement or a fair trial or privacy or safety or would disclose techniques</li>
  <li>Certain records on supervision of financial institutions</li>
  <li>Geological and geophysical information on gas or oil wells</li>
</ol>

<h1>Worth noting:</h1>

<ul>
  <li>FOIA officers and liaisons</li>
  <li>20 business days, but not in real life</li>
  <li>Supposed to be reducing backlog by 10 percent per year</li>
</ul>

{% endblock %}
