{% extends "base.html" %}

{% block content %}

<h1>What the US FOIA open records law does not cover:</h1>

<ol>
  <li>Documents classified as secret in the interest of national defense or foreign policy</li>
  <li>Records of internal agency rules and practices</li>
  <li>Congress and the federal courts and anything specifically withheld by another law</li>
  <li>Trade secrets and commercial or financial information that is confidential</li>
  <li>Internal memos that deliberative</li>
  <li>Personnel, medical, financial or similar records that would clearly be an unwarranted invasion of privacy</li>
  <li>Law enforcement records that would interfere with enforcement or a fair trial or privacy or safety or would disclose techniques</li>
  <li>Certain records on supervision of financial institutions</li>
  <li>Geological information on gas or oil wells</li>


</ol>
More than 100 agencies, each has a Chief FOIA Officer, as well as FOIA contact person and FOIA liaisons. Several hundred offices that process FOIA requests. Be sure you get to the right one. Go to foia.gov and look up contact info. If choosing your local office or another office, choose the one where the records are kept.
IRS seems to prefer mailed in.
Dept of Education has their own form to submit online.
Treasury accepts email.
20 business days to tell you whether they will comply.

Federal is under orders to reduce backlog by 10 percent per year. Outsourcing is happening. Some concern.

10 tips:
Exhaust other sources
Be specific, not overly broad
Learn the collection method, so you can match it. (If you know they'll search emails for keywords, suggest the keywords)
Follow the rules
Don't be a jerk.
Copy someone who might care. Elected official? the county attorney? the head of an institution?
Find the right person.
Remember the exemptions.
Keep it short
Follow up



{% endblock %}
