{% extends "base.html" %}

{% block content %}
<br>
<p>Sept. 15, 2016</p>

<address>
  Jane Knight <br>
  public information officer <br>
  Dept of Something <br>
  1079 Austin Blvd.<br>
  Dime Box, TX 77853 <br>
</address>

<br>

<p>
  Ms. Knight:
</p>

<p>
  I am writing to request information under the <a href="https://www.justice.gov/oip/blog/foia-update-freedom-information-act-5-usc-sect-552-amended-public-law-no-104-231-110-stat">Freedom of Information Act (5 U.S.C. Section 552)</a>
  (((STATE: <a href="http://www.ncga.state.nc.us/EnactedLegislation/Statutes/HTML/ByChapter/Chapter_132.html">North Carolina Public Records Statute (NCGS Section 132-1)</a>))). I am requesting
  the following data, in whatever digital form these records may be kept.

</p>
<ul>
  <li>Data structure and dictionaries for the Medical Examiner Information System</li>
  <li>All publically available tables and fields in the MEIS database</li>
  <li>All public records from 2006 to present</li>
</ul>

<p>
  Please label the tables. If possible, please provide them as delimited text files
  on the department's FTP site. I also am willing to provide an external storage device, if needed.
</p>
<p>
  I understand that there may be reasonable fees allowed by law. (((IF TRUE: I am a web
  developer who is seeking to enable citizens better access to public information.
  This request is not for a commercial use and I am requesting a waiver of fees.
  Disclosure of the requested information is in the public interest and my resulting
  web application will be made available to the general public.))) If you estimate
  that the fees will be more than $100, please inform me by email before fulfilling my request.

</p>
<p>
  If you take the position that these records are not subject to the open records
  law cited above, please provide a written explanation of the basis for your position,
  including the statute, regulation or other authority you relied on to reach that position.

</p>

<p>
  As required under FOIA, I look forward to hearing from you within 20 business days.
  (((STATE: I would appreciate a response by Oct. 15, 2016.)))

</p>
<p>
  Please contact me immediately if you have any questions about this request. I can
  be reached at 704-555-1212 or coconut_developer@duckmail.com.

</p>

<p>
  Sincerely,
</p>
<p>
  Patsy Squire

</p>
<p>
  cc: <br>
  elected official <br>
  dept head<br>
  your attorney<br>
  head of an institution<br>
</p>


{% endblock %}
Write FOIA on the envelope or the subject line


Intro:
Welcome to a talk with a very simple message: You can help save democracy.
Lot of good work is underway to modernize the way public information -- public data --
is made available. OpenGov.com, NextRequest.com, Project Open Data.
But here's a snippet from a site done a few years ago by the Caktus Group for a UNC
effort to create a repository for public data: Most isn't posted anywhere.


Basics:
Federal -- 50 years since it was passed. Why did it come about? Because of the McCarthy Era,
when citizens became concerned about secret government activity. 20 years since digital
modifications.
    Applies to agencies of all sorts, and to Cabinet positions such as Secretary
    of State.
    Does NOT apply to Congress or the President or to courts.
    Very formal designation of FOIA officers.
    Can be complicated to tell where to apply.
    Just so you can see that the request process is not too mysterious, here's a sample:

State -- varies a lot. existed in some form for a long time. 1930s in NC.
NC and Tennesee rank poorly in the quality of their laws and in compliance with requests. Better Govt Assoc
Virginia and South Carolina rank better.
The states vary a great deal in what exactly is exempted from disclosure, but you
don't have to study up on that to get started.


How
Decide you want something.
See if you can tell what exists.
Check to see if anyone else has it or part of it.
Ask in writing, nicely and clearly. CC someone
Wait. Check back. Wait. Check back. Communicate in writing.
Appeal or escalate.

Data specific:
In your request, ask to talk directly to a data person to work out the details of a transfer
Be prepared to provide CD, flash drive or external hard drive. Email sometimes. A little bit of dropbox


Help:
Sympathetic elected official (i.e. members of Congress)
MuckRock for a fee
Public Citizen if they decide to take it on
Attorney General ... always worth it, if you're not getting a response
Lawyer ... even if you have one you can copy on your correspondence






http://codepen.io/sturobson/pen/XbpbWm/
