{% extends "base.html" %}

{% block content %}

<h1>10 Tips for acquiring public information</h1>
<ol>
  <li class=slide >Don't be a jerk. Follow the rules. Be flexible about format and delivery method.</li>
  <li>Be specific, not overly broad.</li>
  <li>Figure out what data actually exists. No analyzing or creating of new records.</li>
  <li>Learn the collection method, so you can match it. (If you know they'll search
  emails for keywords, suggest the keywords.)</li>
  <li>FOIA the FOIAs. FOIA the fields. FOIA the talking points. FOIA the database layout.</li>
  <li>Find the official right person, and also the unofficial person who actually knows.
    Make a verbal request. Surface the concerns.</li>
  <li>If you believe a certain record exists, describe it in your request.</li>
  <li>Always cite the statute. Always keep a log of communication.</li>
  <li>Be reasonable about the time period.</li>
  <li>Copy someone on your request. Department head, and PIO. Your lawyer. Elected official.</li>
</ol>

<h1>Worth noting:</h1>
<ul>
  <li>Submission preferences vary: mail, email, special form.</li>
  <li>Sometimes they impose a fee. Request a waiver, if you have an agrument for that.</li>
  <li>Redaction -- the whole record can't be denied if just one column is not public.</li>
</ul>

{% endblock %}
