{% extends "base.html" %}

{% block content %}

<h1>Remember the basics:</h1>
<ol>
  <li>Decide you want something.</li>
<li>Try to figure out what exists. </li>
  <li>Check to see if anyone else has it or part of it.</li>
  <li>Ask in writing, nicely and clearly. CC someone who also cares or has standing.</li>
  <li>Wait. Check back. Wait. Check back. Communicate in writing. Keep a log.</li>
  <li>Appeal or escalate.</li>
</ol>


<h1>More help:</h1>
<ul>
  <li>Federal list of all agency <a href="https://www.foia.gov/report-makerequest.html">FOIA contacts</a></li>
  <li><a href="https://www.muckrock.com/">MuckRock</a>. Free info plus paid service.</li>
  <li><a href="http://www.rcfp.org/federal-open-government-guide">Reporters Committee</a>  for Freedom of the Press</li>

  <li>U.S. Freedom of Information Act<a href="https://www.justice.gov/oip/blog/foia-update-freedom-information-act-5-usc-sect-552-amended-public-law-no-104-231-110-stat"> (5 U.S.C. Section 552)</a></li>
  <li>North Carolina Public Records Statute <a href="http://www.ncga.state.nc.us/EnactedLegislation/Statutes/HTML/ByChapter/Chapter_132.html"> (NCGS Section 132-1)</a></li>
  <li>South Carolina <a href="http://www.scstatehouse.gov/code/t30c004.php">Freedom of Information</a> statute </li>
  <li>Virginia <a href="http://www.vita.virginia.gov/about/default.aspx?id=311">Freedom of Information</a> statute</li>
  <li>State-by-state <a href="http://www.naco.org/sites/default/files/documents/Open%20Records%20Laws%20A%20State%20by%20State%20Report.pdf">report</a> from National Association of Counties</li>
  <li>Investigative Reporters and Editors <a href="http://www.ire.org/resource-center/foia/">guide</a></li>
  <li>NC <a href="http://www.elon.edu/e-web/academics/communications/ncopengov/seekers/faq.xhtml">Open Government Coalition</a></li>
  <li>NC Media Law <a href="http://www.elon.edu/e-web/academics/communications/ncopengov/seekers/handbooks.xhtml">handbook</a></li>
  <li>Charlotte Observer <a href="http://www.charlotteobserver.com/news/databases/">databases</a></li>
  <li>Raleigh News & Observer <a href="http://www.newsobserver.com/news/databases/">databases</a></li>
</ul>

{% endblock %}
