{% extends "base.html" %}

{% block content %}
<h1>Tips</h1>
<ul>
  <li>FOIA the FOIAs</li>
  <li>Talk to someone to learn what you want to ask for. Go ahead and make a verbal request. See what concerns might be.</li>
  <li>Check to see if it is already available</li>
  <li>Always cite the statute</li>
  <li>If you  believe a certain record exists, describe it</li>
  <li>Be reasonable about the time period</li>
  <li>Be firm and professsional</li>
  <li>FOIA the fields</li>
  <li>Don't be overly broad</li>
  <li></li>
  <li></li>
  <li></li>
</ul>
Talk to someone first, to help describe what what you're looking for.
If your purpose either makes them look good or is neutral, say so. They get a lot of negative intent.
Narrow, clear.
Nonconfrontational
Ask a dept head who handles public information requests, and send your request to both the dept head and the PIO.
Look at their own language. FOIA talking points. FOIA the FOIAs. FOIA the schema of a database, not the data itself.
Redaction -- the whole record can't be denied if just one column is not public.

Check first to see if it's posted.
Check to see if it exists. No analyzing or creating records, no research for you.
Avoid asking about a specific person. That's often covered under exemptions.
Ask for specific information. Say what format. Be clear.
Yes, they can charge you. Put in your letter a request that it be waived, if you have an agrument for that.
Put in writing. Usually no form. See sample letter.
Cite the law. Ask them to either provide the info or tell you what exemption they're using.
Write FOIA on the envelope or the subject line.


{% endblock %}
