{% extends "base.html" %}

{% block content %}

<h1>Understanding North Carolina public records</h1>
<h3>Worth noting</h3>
<ul>
  <li>Not as formal in designating federal FOIA contacts. The public official in charge of an office is the "custodian."</li>
  <li>No "deliberative process" exemption for memos as in federal FOIA.</li>
  <li>Attorney general can advise and mediate, but not enforce.</li>
  <li>Every public agency is required to have an index of databases.</li>
</ul>
<h3>Databases</h3>
<ul>
  <li>list of data fields
</li>
  <li>a description of the format or record layout
</li>
  <li>information on frequency of updates
</li>
  <li>a list of any data fields to which public access is restricted
</li>
  <li>a description of each form in which the database can be copied or reproduced
</li>
  <li>schedule of fees for making copies in each form
</li>
</ul>

<h3>Money</h3>
<ul>
  <li>Request an estimate in writing before agreeing.</li>
  <li>Actual cost of copies is allowed, including digital.</li>
  <li>Extra staff time for tech.</li>
  <li>Can charge if they're going to create or compile records that don't exist.</li>
  <li>You can appeal the cost estimate.</li>
  <li>Government cannot charge to separate comingled data.</li>
</ul>
<h3>Some exemptions</h3>
  <ul>
    <li>Complete personnel files are generally exempt. But some info is public, such as name, age and salary.</li>
    <li>Confidential communications between attorneys and their government clients.</li>
    <li>Some state and local income tax information</li>
    <li>Trade secrets</li>
    <li>Detailed criminal investigation records. SBI is completely exempt.</li>
    <li>911 database of phone numbers, locations, names</li>
    <li>Autopsy photos</li>
    <li>Sensitive public security information</li>
    <li>Industrial or Business expansion while in negotiation</li>
  </ul>

{% endblock %}
