{% extends "base.html" %}

{% block content %}
<h1>Tips</h1>
<ul>
  <li>FOIA the FOIAs. FOIA the fields. FOIA the talking points. FOIA the database layout.</li>
  <li>Find the official right person, and also the unofficial contact who actually knows. Talk to someone. Make a verbal request. Surface the concerns. Inform your request.</li>
  <li>Check to see if it is already available.</li>
  <li>Always cite the statute.</li>
  <li>If you  believe a certain record exists, describe it.</li>
  <li>Be reasonable about the time period.</li>
  <li>Don't be a jerk. Follow the rules.</li>
  <li></li>
  <li>Be specific, not overly broad</li>
  <li></li>
  <li></li>
  <li>Follow up.</li>
</ul>
{% endblock %}
<li>Submission preferences vary: Mail, Email, special form</li>


Learn the collection method, so you can match it. (If you know they'll search
emails for keywords, suggest the keywords)

Send your request to both the dept head and the PIO.

Redaction -- the whole record can't be denied if just one column is not public.

Check to see if it exists. No analyzing or creating records, no research for you.
Avoid asking about a specific person. That's often covered under exemptions.
Ask for specific information. Say what format. Be clear.
Yes, they can charge you. Put in your letter a request that it be waived, if you have an agrument for that.
Put in writing. Usually no form. See sample letter.
